<html>

<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>


<body>
		
<div class = 'header'>
	<h1>Restaurants Central</h1>
</div>
<div class = 'login'>
		<a href = "{{url_for('gdisconnect')}}"> <h2>Logout</h2></a>
</div>
<div class = 'pane'>


{% for restaurant in restaurants %}



<a href = "{{url_for('showMenu', restaurant_id = restaurant.id)}}"> <h1>{{restaurant.name}}</h1></a>

<p><a href = "{{url_for('editRestaurant',restaurant_id = restaurant.id)}}">Edit Restaurant</a></p>

<p> <a href = "{{url_for('deleteRestaurant',restaurant_id = restaurant.id)}}">Delete Restaurant</a> </p>




{% endfor %}
</div>
<div class = 'new'>
<a href="{{url_for('newRestaurant')}}" > <h2> Create a New Restaurant </h2> </a>
</div>
</body>

</html>

